* + .parallax {
	margin-top: 52px;
}
.parallax {
	font-family: 'Open Sans', sans-serif;
	line-height: 25px;
	font-size: 20px;
	text-transform: uppercase;
}
.parallax>div.link {
	cursor:pointer
}
.parallax>div {
	position:relative;
	padding-top: 7.3%;
	padding-bottom: 8.3%;
	color:#fff;
	background-position:top;
	background-repeat:no-repeat;
	background-size: cover;
    height: 500px
}
.parallax p {
	position:relative;
	display:block;
	color: #c3c3c1;
}
.parallax h1 {
	font-size: 60px;
	line-height: 60px;
	font-weight: 300;
	font-style: italic;
	color: #fff;
	margin-bottom: 0;
}
.parallax .btn {
	font-size: 71px;
	line-height: 71px;
	border-radius: 60px;
	padding: 48px 54px;
	position: absolute;
	right: 1%;
	top: 50%;
	-moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[class] .parallax .btn {
	background: #006893;
}
[class] .parallax .btn:hover {
	background: #464646;
}
.parallax h1 + p {
	margin-top: 15px;
}
/*========================================================
                   Responsive Parallax
=========================================================*/
@media (max-width: 991px) {
	.parallax h1,
	.parallax p {
		padding-right: 25%;
	}
	.parallax h1 {
		font-size: 40px;
		line-height: 40px;
	}
	.parallax {
		font-size: 15px;
		line-height: 20px;
	}
	.parallax .btn {
		font-size: 30px;
		line-height: 1.42857;
		padding: 8px 14.5px;
		border-radius: 15px;
		right: 8.6%;
	}
}
@media (max-width: 479px) {
	.parallax h1 {
		font-size: 30px;
		line-height: 30px;
	}
}